@import "../global_import.css";
*, html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Rokkitt', serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

h1 {
    font-family: 'Audiowide', cursive;
}

/* page heading */

.heading {
    border-bottom: 1px solid honeydew;
}

/* Logo and Banner */

.logo_banner {
    position: relative;
    box-shadow: inset 0px 0px 5px black;
}

.logo_banner .col-sm-6 {
    overflow: hidden;
}

.logo_banner h2 {
    color: white;
    text-align: center;
}

.logo_banner .logo_img, .logo_banner .banner_img {
    min-height: 300px;
    width: 90%;
    margin: auto;
    transition: all 1s ease;
}

.logo_banner img {
    box-shadow: 0px 1px 32px black !important;
    height: 100%;
    width: 100%;
}

.setting {
    width: 100%;
    justify-content: space-evenly;
    color: white;
}

/* diamond-cut shape */

/* .logo_banner::after {
    content: "";
    position: absolute;
    bottom: -13%;
    left: 50%;
    box-shadow: inset 3px 3px 3px rgba(0,0,0,.7), 
    inset 3px 3px 3px rgba(0,0,0,.7);
    transform: translateX(-50%) rotate(-135deg);
    height: 100px;
    width: 100px;
    background: linear-gradient(-44deg, transparent 50%, #333 50%);
} */

/* 3rd section */

.third-section .event_info {
    display: flex;
    flex-flow: column;
}


.edit_page {
    background: #333;
    position: sticky;
    top: 30%;
    float: right;
    margin-right: 10px;
    border-radius: 7px;
}

.event_info>div {
    display: flex;
    border-bottom: 1px solid honeydew;
    text-align: left;
    padding: 20px 0;
}

.head1 {
    padding: 40px 60px;
    font-size: 40px !important;
    font-weight: 100;
    width: 40%;
}

.body1 {
    width: calc(100% - 40%);
    padding: 50px 50px 40px 100px;
    font-size: 26px;
}

.body1 table {
    width: 100%;
}

@media (max-width: 768px) {
    .event_info>div {
        flex-flow: column;
    }
    .head1 {
        font-size: 30px;
        padding: 20px 60px;
        width: 100%;
    }
    .body1 {
        width: 100%;
        font-size: 18px;
        padding: 10px 50px 40px 70px;
    }
}