@import "global_import.css";

* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Rokkitt', serif;
    /* overflow-x: hidden; */
}

.container-fluid, .row {
    padding: 0 !important;
    margin: 0 !important;
}

/* ************************************* HomePage Carousel ****************************************** */

/* Carousel Inner */

.carousel ol li.active {
    background-color: #3486cc !important;
}

.carousel ol li:hover {
    background-color: blue;
}

.jumbotron {
    min-height: 100vh;
}

.cimg {
    width: 100%;
    height: 100%;
}

.cimg .img-fluid1 {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}

#img-1 {
    background-image: url('slider_img/cod1.jpg');
}

#img-2 {
    background-image: url('slider_img/ff2.jpg');
}

#img-3 {
    background-image: url('slider_img/fortnite.jpg');
}

#img-4 {
    background-image: url('slider_img/freefire.jpg');
}

.cimg .img-fluid {
    display: block;
    width: 100%;
    height: 100%;
}

.images {
    position: relative;
}

.overdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    top: 0;
}

.carousel-caption {
    position: absolute;
    top: 30%;
}

.carousel-caption h3 {
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 56px;
    font-weight: 300;
    line-height: 1.2;
}

.pbtn {
    margin-top: 20px;
}

.pbtn span {
    color: white;
    /* padding-top: 5px; */
    padding-bottom: 5px;
    padding-right: 15px;
    font-size: 20px;
}

.pbtn .s1 {
    border-right: 1px solid #fefefe;
}

/* Second Section */

/* Section-Second */

.second-section {
    background: url('images/sec-2-back-img.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 40px 0;
    text-align: center;
    overflow: hidden;
}

.second-section {
    height: 100%;
    width: 100%;
}

.second-section h4 {
    color: white;
}

.second-section hr {
    width: 25%;
    background: black;
    margin: auto;
}

/* Tabs / third Section */

.third-section {
    padding: 100px 0;
}

/* Cards Style */

.heading-secondary {
    font-weight: 900;
    transform: scaleY(1.1);
    background: linear-gradient(to right bottom, #ffb900 20%, #ff7730 40%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.flip-card {
    background-color: transparent;
    min-height: 42rem;
    perspective: 100rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .6s ease;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flip-card-front {
    background-color: #fff;
    transform: rotateY(0);
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card__image {
    background-size: cover;
    height: 20rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-position: center center;
}

.flip-card__image--1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("images/pubg2.jpg");
}

.flip-card__image--2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("images/fortnite.jpg");
}

.flip-card__image--3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("images/freefire.jpg");
}

.flip-card__heading {
    color: #fff;
    position: absolute;
    top: 11rem;
    right: 1rem;
    width: 80%;
    text-align: right;
}

.flip-card__heading--span {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.2rem .5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.flip-card__heading--span-1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.flip-card__heading--span-2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.flip-card__heading--span-3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.flip-card__details ul {
    width: 80%;
    margin: 0 auto;
    list-style-type: none;
}

.flip-card__details ul li {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

.flip-card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.flip-card-back-1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.flip-card-back-2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.flip-card-back-3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.flip-card__cta {
    position: absolute;
    width: 90%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flip-card__price--box {
    color: #fff;
    margin-bottom: 8rem;
}

.flip-card__price--only {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.flip-card__price--value {
    font-size: 6rem;
    font-weight: 100;
}

/* Cards Style */

/* Fourth-section / parallax */

.fourth-section {
    min-height: 80vh;
    position: relative;
    color: white;
    background-color: black;
}

.fourth-section .left-content {
    color: #969696;
    margin-top: 30%;
    text-align: left;
}

.fourth-section .left-content h5 {
    padding: 0 0 20px 0;
}

.fourth-section .left-content p {
    padding: 20px 10px;
    width: 90%;
}

.fourth-section .right-img {
    overflow: hidden !important;
}

.fourth-section .right-img img {
    height: 100%;
    width: 100%;
}

.fourth-section .right-img:hover img {
    transform: scale(.9);
    transition: all .3s ease;
}

/* Leader Boards */

.leader {
    min-height: 80vh;
    text-align: center;
    padding: 50px 0;
}

.leader .col-md-4 .leader-card-1, .leader .col-md-4 .leader-card-2, .leader .col-md-4 .leader-card-3 {
    width: 75%;
}

.leader .leader-card-1.card {
    border: 2px solid #7b7c7e !important;
    min-height: 80%;
}

.leader .leader-card-2.card {
    border: 2px solid #eaa40f !important;
}

.leader .leader-card-3.card {
    border: 2px solid #b9785b !important;
}

.card-header {
    background: #f2f2f2 !important;
    border: unset;
    padding: 60px 20px;
}

.leader .card-img {
    width: 30%;
    margin-left: auto;
}

#leader-hr {
    width: 50%;
    position: relative;
}

#leader-hr::before {
    content: "";
    height: 10px;
    position: absolute;
    width: 10px;
    left: 0;
    top: -5px;
    background: rgb(177, 176, 176);
}

#leader-hr::after {
    content: "";
    height: 10px;
    position: absolute;
    width: 10px;
    right: 0;
    top: -5px;
    background: rgb(177, 176, 176);
}

.leader-hr-1 {
    margin: 50px auto;
}

.leader-hr-2 {
    margin: 60px auto;
}

.leader-hr-3 {
    margin: 40px auto;
}

.leader .card-text {
    display: inline-block;
    width: 50%;
    padding-top: 0%;
    vertical-align: bottom;
}

.leader-rank, .leader-rank-1, .leader-rank-3 {
    width: 100%;
    height: 39px;
    font-size: 17px;
    text-transform: uppercase;
    background-position-x: 48.5% !important;
    color: #fff;
    padding-top: 13px;
}

.leader-rank {
    background: url(images/leaderboard-rank-bg2.png) center top no-repeat;
}

.leader-rank-1 {
    background: url(images/leaderboard-rank-bg.png) center top no-repeat;
}

.leader-rank-3 {
    background: url(images/leaderboard-rank-bg3.png) center top no-repeat;
}

.leader .card-img-propic {
    top: -24%;
    left: 50%;
    width: 104px;
    height: 104px;
    padding: 12px 6px;
    border-radius: 100%;
    background: white;
    transform: translateX(-50%);
}

/* Fifth Section */

.fifth-section {
    min-height: 80vh;
    background: url(images/homepage-zombies-bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(204, 40, 0, 0.6);
    background-blend-mode: color;
    padding: 70px 0;
}

.fifth-section h5 {
    color: white;
    font-size: 2.5rem;
}

.fifth-section .btn{
    background: #fe0000;
}

.fifth-section .left-content-img {
    background: url(images/center-soldier-cod.png);
    min-height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center top;
}

.fifth-section .btn {
    padding: 10px 40px;
    color: white;
    display: block;
    margin: auto;
}

.fifth-section .right-content {
    padding-top: 14%;
}

/***************************** End of HomePage Carousel *************************** */

/* Slider Media Query */

@media (max-width: 500px) {
    h1 {
        font-size: 30px !important;
    }
    h2 {
        font-size: 26px !important;
    }
    h3 {
        font-size: 24px !important;
    }
    p {
        font-size: 18px !important;
    }
    .nav {
        justify-content: center !important;
    }
    .third-section .tab-content .col-1-of-3 {
        margin-bottom: 20px;
    }
    .fourth-section h3, .fourth-section p {
        text-align: justify !important;
    }
    .leader .card-img {
        width: 100%;
        margin: auto;
        display: block !important;
    }
    .card-header {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .leader .card-text {
        width: 100%;
    }
    .leader .col-md-4 {
        margin-bottom: 20px;
    }
    .fifth-section h5 {
        text-align: center;
    }

    .fifth-section .display-4 {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    .jumbotron {
        height: auto;
    }
    .cimg {
        width: 100%;
        height: 100%;
    }
    .cimg .img-fluid1 {
        min-height: 100vh;
    }
    .jumbotron .carousel-caption {
        left: unset;
        right: unset;
    }
    .jumbotron .btn_red, .second-section .btn_red {
        margin-top: 5%;
        padding: 0px 20px 8px 20px;
        font-size: 20px;
    }
    .btn_red span img {
        vertical-align: bottom;
    }
    .heading-secondary {
        font-size: 40px;
    }
}